p{
    font-size: medium;
    color: #617143;
    font-weight:bold;
    
     
}

body{
    color: #28B5B5;
    
}

.gallery {
  width: 27%;
  height: 27%;
  overflow: auto; /* add scrollbars if necessary */
  border-radius: 20%;
}

.gallery img {
  max-width: 100%;
  max-height: 100%;
}
.rrcard1{
   
   padding-top: 2%;
    padding-left: 40%;
    padding-right: 20%;
    margin-bottom: 30%;
}
.rrcard2{
    

    
    border: 2px solid red;

}
.rrcards{
    border: 3px solid red;
  

}
.hmpagebody{
    content: '';
    background-image: url('https://images.pexels.com/photos/1028599/pexels-photo-1028599.jpeg?auto=compress&cs=tinysrgb&w=800');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    /* background-color: rgba(red, green, blue, 0.5);
    opacity: 0.9;
    z-index: -1; */
   
}

.logo {
    transition: transform 0.2s ease-in-out;
  }
  
.logo:hover {
    transform: rotate(360deg);
  }

.head1{
    opacity: 1;
  transform: translateY(20px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  

  }
  
.head1:hover {
    opacity: 0.5;
    transform: translateY(0);
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

.fropbody{
    content: '';
    background-image: url('https://images.pexels.com/photos/1028599/pexels-photo-1028599.jpeg?auto=compress&cs=tinysrgb&w=800');
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow-y: scroll;
    animation: slideBg 20s linear infinite;

    background-color: rgba(red, green, blue, 0.5);
    opacity: 0.9;
    z-index: -1;

    @keyframes slideBg {
      from {
        background-position: 0 0;
      }
      to {
        background-position: 100% 0;
      }
    }

}
card{
    font-weight: bold;
}

.button {
    background-color:#6D9886;
    color: white;
    padding: 12px 24px;
    border-radius: 20%;
    transition: transform 0.2s ease-in-out;
    border-color: white;
size: large;
  }
  
  .button:hover {
    animation: shake 0.5s ease-in-out;
  }
  
  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
  }

  .icon-button {
        padding: 8px;
        border-radius: 50%;
        animation: pulse 1s infinite;
        color: red;
        border-color: red;
  }
  .icon-button2 {
    padding: 8px;
    border-radius: 50%;
    /* animation: pulse 1s infinite; */
    
  }
  
  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
  }
  
  .icon-button:hover {
    animation: none;
  }

  .grid-container {
    animation-name: slide-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  
  @keyframes slide-in {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .cam{
    /* padding: 10px;
    border-radius: 50%;
    animation: pulse 1s infinite;
    color: red;
    border-color: red;} */
    padding: 8px;
    border-radius: 50%;
    animation: pulse 1s infinite;
    color: red;
    border-color: red;}
  

    .imggal{

        animation-name: slide-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    /* border: 50px solid white;
    border-color: white; */
   
    }

    
    .button3{
     
        transition: transform 0.3s ease;
        width: 150px;
        padding: 1; margin: 0;
        border-radius:50;
        background-color: #6D9886 ;
        box-shadow :20px;
        border: #6D9886;
    }
      
      .button3:hover {
        transform: rotate(180deg);
      }
      
      
      .hmpagebodydiv{
        height:900px;
        width: auto;
        justify-content: center;
        align-content: center;
        background-image: url('https://images.unsplash.com/photo-1615224571870-e863823760fc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8MTZ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=800&q=60');
        background-repeat: no-repeat;
        background-position: right;
        background-size: cover;
        /* background-color: rgba(red, green, blue, 0.5); */
        /* opacity: 0.9;
        z-index: -1; */
        
       
    }
      
    .hmpagebodyd{
        width: auto;
        justify-content: center;
        align-content: center;
        /* background-image: url('https://images.pexels.com/photos/1028599/pexels-photo-1028599.jpeg?auto=compress&cs=tinysrgb&w=800'); */
        /* background-repeat: no-repeat; */
        /* background-position: right; */
        background-size: cover;


    }
    .FoodImageNameforQuiz{
    font-size: larger;
    color: #000;
    font-weight:bold;

    }
  .ProfileName{
    float:left;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 400;
    color: #000;
    padding-left: 10%;
    font-weight:bold;
    padding-bottom: 1%;


  }
  .food-item {
    padding-right: 20px;
    padding-left: 20px;
    padding: 20px;
    text-align: center;
    color: #000;
  }
  
  
  
  .food-name {
    margin-top: 10px;
    font-size: 28px;
    font-weight: bolder;
    color: #000;
    text-transform: capitalize;
  }
  
  .food-image{
    border-radius: 50px;
    width: 400px;
    height: 400px;
    box-shadow: 8px 8px 10px #aaa;
   

  }
  .fropbodyq {
    content: '';
    background-image: url('https://images.pexels.com/photos/7201115/pexels-photo-7201115.jpeg?auto=compress&cs=tinysrgb&w=800');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
    background-attachment: fixed;
    overflow-y: scroll;
    animation: slideBg 20s linear infinite;

    background-color: rgba(red, green, blue, 0.5);
    opacity: 0.9;
    z-index: -1;

    @keyframes slideBg {
      from {
        background-position: 0 0;
      }
      to {
        background-position: 100% 0;
      }
    }
  }
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: -5% -5%;
    margin-left: 15%;
    margin-right: 15%;;
    margin-top: 1%;
  }

  .card {
    flex: 0 0 calc(33.33% - 20px); /* Adjust the width based on your desired layout */
   
    margin: 5% 5%;
    margin-bottom: 20px;
  }

  /* Media query for small screens */
  @media (max-width: 768px) {
    .card {
      flex: 0 0 calc(50% - 20px); /* Adjust the width for smaller screens */
    }
  }

  @media (max-width: 480px) {
    .card {
      flex: 0 0 100%; /* Cards take up full width on extra small screens */
   
    }
  }
.fav{
background-image:url('https://images.pexels.com/photos/934011/pexels-photo-934011.jpeg?auto=compress&cs=tinysrgb&w=600');
background-repeat: no-repeat;
background-position: right;
background-size: cover;
color: #000;

}

.favdiv{

align-items: center;

}

.fav1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.food-list {
  display: grid;
  gap: 20px;
}

.food-image {
  width: 100%;
  height: auto;
  max-height: 300px;
  border-radius: 20px;
}